<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/header :: header">
  <title>Login Page</title>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
<div th:replace="fragments/bodyHeader :: bodyHeader" />

    <!-- 게시판 -->
    <div class="container-sm my-5 py-5">
      <div class="row">
        <div class="col-12 mb-5">
          <h1 class="display-6 fw-bolder text-center">게시판</h1>
        </div>
      </div>
      <div class="row justify-content-center">
        <!-- 상위 헤더 -->
        <div class="d-flex justify-content-center border bg-light">
          <div class="col-2">
            <div class="p-3">번호</div>
          </div>
          <div class="col-6">
            <div class="p-3">제목</div>
          </div>
          <div class="col-2">
            <div class="p-3">등록자</div>
          </div>
          <div class="col-2">
            <div class="p-3">등록일</div>
          </div>
        </div>
        <!-- 내용 -->
        <th:block th:each="post, index : ${posts}">
          <a href="" class="text-decoration-none text-black border" style="color: black;" th:href="@{'/board/' + ${post.postId}}">
            <div class="d-flex justify-content-center">
              <div class="col-2">
                <div class="p-3" th:text="${index.index}">1</div>
              </div>
              <div class="col-6">
                <div class="p-3" th:text="${post.title}">첫 게시글</div>
              </div>
              <div class="col-2">
                <div class="p-3" th:text="${post.username}">김연규</div>
              </div>
              <div class="col-2">
                <div class="p-3" th:text="${#temporals.format(post.createdAt, 'yyyy-MM-dd')}">2022-02-27</div>
              </div>
            </div>
          </a>
        </th:block>

        <div class="buttons text-center">
          <a href="/register" th:href="@{/board/add}"  class="btn btn-outline-dark ms-2 my-5 py -5">
            글쓰기
          </a>
        </div>

        <!-- 밑에 번호 표기 -->
        <div class="container-sm my-2 py-2 w-25">
          <div class="row justify-content-between text-center">
            <div class="col" th:if="${currentPage} != 0">
              <a th:href="@{/board(page=${currentPage} - 1, size=10)}" class="text-decoration-none text-black" >prev</a>
            </div>
            <th:block th:each="num : ${#numbers.sequence(1, totalPages)}">
              <div class="col">
                <a th:href="@{/board(page=${num} - 1, size=10)}" class="text-decoration-none text-black" th:text="${num}"
                   th:classappend="${num == currentPage + 1 ? 'fw-bold' : ''}">
                >1</a>
              </div>
            </th:block>
            <div class="col" th:if="${currentPage} != ${totalPages} - 1">
              <a th:href="@{/board(page=${currentPage} + 1, size=10)}" class="text-decoration-none text-black" >next</a>
            </div>
          </div>
        </div>

      </div>
    </div>
  </body>
</html>
