<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/header :: header">
  <title>Login Page</title>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
<div th:replace="fragments/bodyHeader :: bodyHeader" />

    <!-- 게시판 -->
    <div class="container-sm my-5 py-5">
      <div class="row">
        <div class="col-12 mb-5">
          <h1 class="display-6 fw-bolder text-center">게시글 수정</h1>
        </div>
      </div>
      <div class="container-sm my-5 py-5">
        <form class="w-50 mx-auto" th:action th:object="${post}" method="post">
          <div class="mb-3">
            <label for="exampleInputEmail1" class="form-label">제목</label>
            <input
              type="text"
              class="form-control"
              id="exampleInputEmail1"
              aria-describedby="emailHelp"
              th:field="*{title}"
              th:errorclass="field-error"
            />
            <div class="field-error" th:errors="*{title}">
              오류
            </div>
          </div>
          <label for="floatingTextarea2">내용</label>
          <div class="form-floating">
            <textarea
              class="form-control mb-5"
              style="height: 500px; resize: none"
              placeholder="Leave a comment here"
              id="floatingTextarea2"
              th:field="*{content}"
              th:errorclass="field-error"
            ></textarea>
            <div class="field-error" th:errors="*{content}">
              오류
            </div>
          </div>
          <button type="submit" class="btn btn-primary">수정</button>
        </form>
      </div>
    </div>
  </body>
</html>
